<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alan.pms.mapper.customer.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.alan.pms.model.Customer">
        <result column="person_id" property="personId" jdbcType="INTEGER"></result>
        <result column="person_name" property="personName" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="BaseSql">
        select person_id,person_name,address
        from `customer_basic_infomation` cbi
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        <include refid="BaseSql"></include>
        where 1=1
        <if test="searchValue!=null">
            and cbi.person_name like "%"#{searchValue}"%" or cbi.address like "%"#{searchValue}"%"
        </if>
        <if test="customer!=null">
            <if test="customer.personName!=null">
                and cbi.person_name like "%"#{customer.personName}"%"
            </if>
            <if test="customer.address!=null">
                and cbi.address like "%"#{customer.address}"%"
            </if>
        </if>
        <if test="pageNum !=null and pageSize !=null">
            limit #{pageNum},#{pageSize}
        </if>
    </select>

    <select id="findTotal" resultType="java.lang.Long">
        select count(1)
        from `customer_basic_infomation` cbi
    </select>

    <select id="findTotalWithCondition" resultType="java.lang.Long">
        select count(1)
        from `customer_basic_infomation` cbi
        where 1=1
        <if test="searchValue!=null">
            and cbi.person_name like "%"#{searchValue}"%" or cbi.address like "%"#{searchValue}"%"
        </if>
        <if test="customer!=null">
            <if test="customer.personName!=null">
                and cbi.person_name like "%"#{customer.personName}"%"
            </if>
            <if test="customer.address!=null">
                and cbi.address like "%"#{customer.address}"%"
            </if>
        </if>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        <include refid="BaseSql"></include>
        where cbi.person_id=#{id}
    </select>

    <delete id="deleteById">
        delete from `customer_basic_infomation`
        where person_id=#{id}
    </delete>
    
    <insert id="insertOrUpdate">
        insert into `customer_basic_infomation` (person_id,person_name,address)
        values (#{customer.personId},#{customer.personName},#{customer.address})
        on duplicate key update person_name=#{customer.personName},address=#{customer.address}
    </insert>
</mapper>
